<section class="transactions-container">

    <app-search-filters (onSearch)="handleOnSearch($event)"></app-search-filters>
    <ul >
        <li *ngFor="let transaction of transactions$">

            <span class="bar" [style.backgroundColor]="transaction.categoryCode"></span>
            <span class="date">{{ transaction.transactionDate | date:'MMM d' }}</span>
            <span class="image"><img width="40" [src]="transaction.merchantLogo"></span>
            <span class="transactionType">
                <p>
                <!-- {{ transaction }} -->
                    
                    <strong>{{ transaction.merchant }}</strong>
                    {{ transaction.transactionType }}
                </p>
            </span>
            <span class="amount"></span>
        </li>
    </ul>
</section>